body {
    color: #fff;
    background-image: url(../images/manta-rays.jpg);
    background-attachment: fixed;
    background-size: 100%;
}
#container {
    border: solid #fff 1rem;
    width: 75%;
    align-content: center;
}